# --- API Deployment ---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-deployment
  labels:
    app: api
spec:
  replicas: 1 # Spin up 1 copy of this pod (can increase in prod)
  selector:
    matchLabels:
      app: api
  template:
    metadata:
      labels:
        app: api
    spec:
      containers:
      - name: api-container
        image: api-image:latest # Defined in CapstoneProject/backend/Dockerfile
        imagePullPolicy: Never
        ports:
        - containerPort: 8000 # The port the API container exposes internally
        env:
        - name: DB_URL # Environment variable giving database address
          value: "postgresql+psycopg://atc:atcpass@db:5432/adsb"

---
# --- API Service (NodePort for external access) ---
apiVersion: v1
kind: Service
metadata:
  name: api-service
spec:
  selector:
    app: api
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8000 # The port the API container exposes internally
      nodePort: 30080 # The port where the node listens for external requests
  type: NodePort # Traffic to the cluster's exposed port (8080, defined in cluster_setup.sh) gets redirected here