apiVersion: apps/v1
kind: Deployment
metadata:
  name: parser-deployment
  labels:
    app: parser
spec:
  replicas: 1
  selector:
    matchLabels:
      app: parser
  template:
    metadata:
      labels:
        app: parser
    spec:
      containers:
      - name: parser-container
        image: parser-image:latest # **Replace with your Parser Docker image**
        imagePullPolicy: Never
        ports:
        - containerPort: 8001
        env:
        - name: DB_URL # Example environment variable for the API to connect to the DB
          value: "postgresql+psycopg://atc:atcpass@db:5432/adsb"
        # Add any necessary device-specific configurations here (e.g., volume mounts for device access if needed)